<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ethereal ink</title>
    <meta name="description" content="description">
    <meta name="author" content="author">
    <meta name="keywords" content="keywords">
    <style>
      .body { width: auto; }
    
      .inline {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 0.5em;
      }
    
      .small-button {
        width: 3em;
        margin: auto 0;
      }

      .image-column {
        display: flex;
        flex-direction: column;
        gap: 1rem;
      }
    
      #image {
        margin-bottom: 1em;
      }
    
      #dialog-prompt-form > article {
        min-width: 80vw;
      }
    
      #pagination {
        display: flex;
        justify-content: center;
      }
    </style>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/siimple-icons/siimple-icons.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="https://pagination.js.org/dist/2.6.0/pagination.css">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.21/lodash.min.js"></script>
    <script src="https://pagination.js.org/dist/2.6.0/pagination.min.js"></script>
  </head>
  <body>
    <main class="container">
      <div class="grid">
        <article>
          <header>
            <div class="inline">
              Prompts
              <button
                id="add-button" 
                class="small-button"
                data-target="dialog-prompt-form"
                onClick="toggleModal(event)"
              >
                <i class="si-plus"></i>
              </button>
            </div>
          </header>
          <table id="query-list" role="grid">
            <tbody id="data-container">
            </tbody>
          </table>
          <div id="pagination">
          </div>
        </article>
        <article>
          <header>
            <div class="inline">
              Generated
              <div class="inline">
                <button 
                  id="upload-button" 
                  class="small-button" 
                  data-target="dialog-upload-form"
                  onClick="toggleModal(event)"
                >
                  <i class="si-upload"></i>
                </button>
                <button 
                  id="stop-button"
                  class="small-button secondary"
                  data-target="dialog-upload-form"
                  onClick="stopGeneration(event)"
                >
                  <i class="si-stop"></i>
                </button>
              </div>
            </div>
          </header>
          <div id="image-container"> 
            <progress></progress>
          </div>
          <button 
            id="open-button"
            role="button"
            style="margin-top: 1rem"
            data-target="dialog-image-form"
            onClick="openImageModal(event)"
          >
            <i class="si-folder"></i>
          </button>
        </article>
      </div>
    </main>
  
    <dialog id="dialog-prompt-form" title="Add a new prompt">
      <article>
        <header>
          Add a new prompt
        </header>
        <form>
          <fieldset>
            <label for="prompt">Prompt</label>
            <input type="text" name="prompt" id="prompt" placeholder="An astronaut on mars riding a horse into the sunset">
          </fieldset>
        </form>
        <footer>
          <a 
            href="#cancel"
            role="button"
            class="secondary"
            data-target="dialog-prompt-form"
            onClick="toggleModal(event)"
          >
            Cancel
          </a>
          <a 
            href="#confirm"
            role="button"
            data-target="dialog-prompt-form"
            onClick="submitPrompt(event)"
          >
            Confirm
          </a>
        </footer>
      </article>
    </dialog>
  
    <dialog id="dialog-upload-form" title="Pick a image to upload and show">
      <article>
        <header>
          Add a new image
        </header>
        <form>
          <fieldset>
            <input 
                type="file"
                name="image"
                id="upload-form-image-input"
                accept="image/png, image/jpeg"
            >
          </fieldset>
        </form>
        <footer>
          <a
            href="#cancel"
            role="button"
            class="secondary"
            data-target="dialog-upload-form"
            onClick="toggleModal(event)">
            Cancel
          </a>
          <a 
            href="#confirm"
            role="button"
            data-target="dialog-upload-form"
            onClick="uploadImage(event)">
            Upload
          </a>
        </footer>
      </article>
    </dialog>
    
    <dialog id="dialog-image-form" title="Pick a image to show">
      <article>
        <header>
          Select a image
          <a href="#close"
            aria-label="Close"
            class="close"
            data-target="dialog-image-form"
            onClick="toggleModal(event)">
          </a>
        </header>
        <div id="image-grid" class="grid">
        </div>
      </article>
    </dialog>
  
    <script id="query-list-template" type="text/template">
      <% data.forEach(item => { %>
      <tr>
        <td><%- item %></td>
        <!-- <td style="width: 3em">
          <button id="delete-button" class="small-button secondary outline">
            <i class="si-trash"></i>
          </button>
        </td> -->
      </tr>
      <% }); %>
    </script>

    <script id="image-button" type="text/template">
      <img 
        src="<%- image %>"
        style="cursor: pointer"
        data-target="dialog-image-form"
        onClick="selectImage(event)"
      />
    </script>
  
    <script>
      function submitPrompt(event) {
        $.ajax({
          url:"/generate",
          type: 'POST',
          contentType: 'application/json',
          data: JSON.stringify({ prompt: $("#prompt").val() }),
          dataType: 'json'
        });
        toggleModal(event)
      }

      function uploadImage(event) {
        const input = $("#upload-form-image-input")[0]
        const fd = new FormData();  
        fd.append( 'file', input.files[0] );

	fetch('/upload', {method: 'POST', body: fd});
        
        // $.ajax({
        //   url: '/upload',
        //   data: fd,
        //   processData: false,
        //   contentType: false,
        //   type: 'POST',
        //   success: function(data){
        //     alert("Image uploaded successfully!");
        //   }
        // });
        toggleModal(event)
      }
    
      function selectImage(event) {
        const target = event.currentTarget ?? event.target
        $(target).attr('aria-busy', true)
        $.post("/cancel")
        $.ajax({
          url:"/select",
          type: 'POST',
          contentType: 'application/json',
          data: JSON.stringify({ image_path: new URL(target.src).pathname.slice(1) }),
          dataType: 'json',
          success: () => {
            $(target).attr('aria-busy', true)
          },
        });
        toggleModal(event)
      }

      function openImageModal(event) {
        $.getJSON("/images", (data) => {
          const images = [...data.generated, ...data.uploaded]

          const templateString = $('#image-button').html();
          const compiledTemplate = _.template(templateString);
          const compiledImages = images.map(image => compiledTemplate({ image: image }));

          const imagesChunks = _.chunk(compiledImages, Math.ceil(compiledImages.length / 3))
          const imagesHtml = imagesChunks.map(chunk => `<div class="image-column">${chunk.join("")}</div>`).join("");

          $('#image-grid').html(imagesHtml)
          toggleModal(event)
        })
      }
      
      function stopGeneration(event) {
        el = $(event.currentTarget)
        el.attr('aria-busy', true)
        
        $.post('/cancel', () => {
          el.attr('aria-busy', null)
        });
      }
  
      function toggleModal(event) {
        event.preventDefault();

        const target = event.currentTarget ?? event.target
        const modelEl = $(`#${$(target).attr('data-target')}`)
        const documentEl = $(document.documentElement)
        
        if (modelEl.attr('open')) {
          documentEl.addClass('modal-is-closing')
          modelEl.attr('open', null)
          setTimeout(() => documentEl.removeClass('modal-is-open modal-is-closing'), 400)
        } else {
          documentEl.addClass('modal-is-open modal-is-opening')
          modelEl.attr('open', true)
          setTimeout(() => documentEl.removeClass('modal-is-opening'), 400)
        }
      }
      
      function fetchPrompts() {
        $('#pagination').pagination({
          dataSource: function (done) {
            $.getJSON("/prompts?page=0&limit=100", (res) => {
              done(res.data.map(x => x.prompt))
            });
          },
          totalNumberLocator: (resp) => resp.totalSize,
          pageSize: 10,
          alias: {
            pageNumber: 'page',
            pageSize: 'limit'
          },
          callback: (data, pagination) => {
            $.getJSON(`/prompts?page=${pagination.pageNumber}&limit=${pagination.pageSize}`, (res) => {
              const data = res.data.map(x => x.prompt)

              const templateString = $('#query-list-template').html();
              const compiledTemplate = _.template(templateString);
              const html = compiledTemplate({ data: data });

              $('#data-container').html(html);
            });
          }
        })
      }
      
      function autorun() {
        $.getJSON("/prompts?page=0&limit=1", (res) => {
          image = `/${res.data[0].image_path}`
          $('#image-container').html(`<img src=${image}/>`)
        });
    
        fetchPrompts()
      }
      
      if (document.addEventListener)
        document.addEventListener('DOMContentLoaded', autorun, false)
      else 
      window.onload = autorun
    </script>
  </body>
</html>
